<section>
  <div class="page-header">
    <div>
      <div>
         <div class="card">
             <div>
                 <div   class="cover">
  <!--                    <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
   -->               </div>
                 <div class="user">
                     <img class="img-circle" ng-src="{{vm.user.profileImageURL}}"/>
                 </div>
                   
                 <div class="content">
                     <div>
                         <h3 class="name">{{vm.user.firstName}} {{vm.user.lastName}}</h3>
                         <p class="profession">{{vm.user.position}}</p>
                         <p class="text-center">{{vm.user.about}}</p>
                     </div>
                 </div>
             </div> <!-- end front panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
  </div>
  <div class="pull-right">
    <a ng-show="vm.article._id" class="btn btn-primary">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.articleForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
      <fieldset>
       <!--  <div class="form-group" show-errors>
          <label class="control-label" for="score">Calificacion del usuario(1 al 5)</label>
          <input name="score" type="number" ng-model="vm.article.score" id="score" class="form-control" placeholder="score">
          <div ng-messages="vm.form.articleForm.score.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article score is required.</p>
          </div>
        </div> -->
        <div class="form-group">
          <label class="control-label" for="content">feedback</label>
          <textarea name="content" data-ng-model="vm.article.content" id="content" class="form-control" cols="30" rows="10" placeholder="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.article._id ? 'Update' : 'Seend Feedback'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
