<section>
  <div class="jumbotron text-center">
    <div class="row">
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Bpublic Feedback
      </p>
    </div>
    <div class="row">
      <p>
        <a ng-show="!vm.authentication.user" class="btn btn-primary btn-lg" ui-sref="authentication.signin">Login </a>
        <a ng-show="vm.authentication.user" class="btn btn-primary btn-lg" ui-sref="articles.list">Send Feedback </a>
      </p>
    </div>
  </div>
 

</section>
