<section>
  <div class="page-header">
    <h1>Usuarios</h1>
  </div>
<!--   <div class="list-group">
    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.content"></p>
    </a>
  </div> -->

  <div  ng-repeat="user in vm.users" data-ui-sref="articles.create({userId: user._id})" class="col-md-4 col-sm-4">
    <div class="card-container">
       <div class="card">
           <div class="front">
               <div class="cover">
<!--                    <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
 -->               </div>
               <div class="user">
                   <img class="img-circle" ng-src="{{user.profileImageURL}}"/>
               </div>
                 
               <div class="content">
                   <div class="main">
                       <h3 class="name">{{user.firstName}} {{user.lastName}}</h3>
                       <p class="profession">{{user.position}}</p>
                       <p class="text-center">{{user.about}}</p>
                   </div>
                   <div class="footer">
<!--                        <i class="fa fa-mail-forward"></i> Auto Rotation
 -->                   </div>
               </div>
           </div> <!-- end front panel -->
       </div> <!-- end card -->
   </div> <!-- end card-container -->
</div> <!-- end col sm 3 -->
</section>
