<section>
    <div class="page-header">
      <h1>
        Feedbacks
      </h1>
    </div>
    <div class="list-group">
      <a data-ng-repeat="article in vm.articles" data-ui-sref="articles.edit({articleId: article._id})" class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span data-ng-bind="article.created | date:'mediumDate'"></span>
          by
          <span ng-if="article.user" ng-bind="article.user.displayName"></span>
          <span ng-if="!article.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="article.score"></h4>
        <p class="list-group-item-text text-info" data-ng-bind="article.content"></p>
      </a>
    </div>
  </section>
  