<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Nuevo Feedback de {{name}}, revisalo en https://feedback.bpublic.mx/articles/myfeedback</p>
  <p></p>
  <p>"{{content}}"</p>
  <br />
  <br />
  <p>The Bpublic Support Team</p>
</body>

</html>
